@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  line-height: 1.5;
  font-family: "Jost", sans-serif !important;
}
